body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
.profile-img {
  border-radius: 50%;
  width: 35%;
}
h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #66bfbf;
  padding-bottom: 10px;
}
#desc {
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin-bottom: 50px;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
.profile {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.code-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 16px;
}
.des-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 16px;
}
.desc {
  text-align: right;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.footer-link {
  color: #11999e;
}
.copyright {
  font-size: 1rem;
  color: #eaf6f6;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: normal;
}
.mountain {
  margin-bottom: -3px;
}
.middle {
  margin-bottom: 100px;
}
.bottom {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 30px 30px 30px;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #eaf6f6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
